.top-section {
  margin-bottom: 30px;
}

select {
  padding: 8px;
  border-radius: 8px;
  border: none;
  background-color: #1a7fad;
  color: #f1f1f1;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #ececec;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  text-align: center;
}

.search-section {
  margin-bottom: 30px;
}

input {
  padding: 10px;
  width: 60%;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background-color: #ff0066;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #d6095b;
}

.anime-card {
  display: inline-block;
  background-color: #241717;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 250px;
  vertical-align: bottom;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
 
  }
.anime-card:hover {
    transform: translateY(-10px);
    zoom : 0,9;
    }

.anime-card img {
  width: 100%;
  border-radius: 50px;
    margin-bottom: 1px;
}

.anime-card p {
  font-size: 0.9em;
  color: #ffffff;
}
.anime-card a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #ff0066;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}